# MacOS files
.DS_Store
# Project files
.idea/
project/
target/
#Temporary files
outputs/
.terrain*/
.card*/

# My inspiration folder
inspiration/
~$*.xlsx
~$*.docx
backup*/
.vscode/
.metals/

# Too big files
*.xcf
src/resources/box/
.gen_images/
# BGA Credentials
.env
.env.local
.env.*.local
vendor/
bga-windwalkers/vendor/
